{% extends 'base.html.twig' %}

{% block body %}
    <p>Waluta: {{ currencyData.currency }}</p>
    <p>Kursy:</p>
    <div class="ml-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Data</td>
                    <td>Cena</td>
                </tr>
            </thead>
            <tbody>
                {% for rate in currencyData.rates %}
                    <tr>
                        <td>{{ rate.effectiveDate }}</td>
                        <td>{{ rate.mid }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{{ path('currency_index') }}" class="btn btn-primary">Wsztecz do wyboru dnia</a>
{% endblock %}